
<link rel="stylesheet" href="../css/styles.css">

<!--Title & logo of the page-->
<div class="title">
  <h1>Car Parts Tracker</h1>
</div>

<!--Navbar-->
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-right">
        <a class="nav-link" href="/users/login">Log In</a>
      </li>
      <li class="nav-right">
        <a class="nav-link" href="/users/signup">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>