{{#if alertMessage}}
<div class="alert alert-danger" role="alert">
  {{alertMessage}}
</div>
{{/if}}
<h1>Sign Up</h1>
<form method="POST" action="/users/signup" class="col-lg-6 offset-lg-3">
    <div class="form-group row justify-content-center">
        <label for="username">Username</label>
        <input name="username" type="text" class="form-control" required/>
    </div>
    <div class="form-group row justify-content-center">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" required/>
    </div>
        <div class="form-group row justify-content-center">
        <label for="password">Confirm Password</label>
        <input name="password" type="confirmPassword" class="form-control" required/>
    </div>
    <div class="row justify-content-center">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    
</form>