* 
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body { 
    padding: 10px;
}
.navbar {
    font-weight: bold;
}
.mr-auto { 
    margin-right: auto;
}
footer {
    position: fixed;
    Width: 100%;
    bottom: 0;
}
.list-section {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
.title { color:  #0D6EFD }
#sidebar-wrapper div form button {
    background-color:  #0D6EFD;
    color: white
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow: auto;
}

.modal-body > .img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* #region loginsignup.hbs */

#form-container{
    display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
}


#form-loginsignup > *{
    margin-top:1.5rem;
}

.form-label{
    margin-bottom: 5px;

}
.submit-btn{
    margin-top: 0.5rem;
}
input::placeholder{
    font-size: 14px;
}
.form-control{
    border: 1.25px solid darkgray;
}
#line-break-form{
    width: 100%;
    color: black;
    height: 2px;
    z-index: 999;
}

/* #endregion */

label{
    text-align:start;
}
legend{
    text-align: center;
    margin-bottom:1.25em;
}

table {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#language{
    margin: 1em 0em 1em 0em;
    display: flex;
    flex-direction: row;
}

#languageText{
    margin-right: 1em;
}

#add-project-btn{
    border: 1px solid #0D6EFD;
    border-radius: 0.85rem;
    background: none;
    padding: 5px 10px;
}

#grid-container-projects{
    display: grid;
    grid-template-columns: 1.5fr 10fr;
}

.grid-item-1{
    z-index: 999;
    max-width: 300px;
}
/* 
.grid-item-2{
    margin-right: -1rem;
} */

#container-projs{
    margin: 0 auto;
    width: 50rem;
}
#container-projs > div{
    margin-bottom: 3rem;
}
#container-projs > div:hover{
    /* border: 1px solid #0D6EFD; */
    cursor: pointer;
    box-shadow: 0 0 5px 2px #0D6EFD;
    transition: all 200ms ease-in;
    transform: translateY(-10px);
}