* 
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body { 
    padding: 10px;
    overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
}
.navbar {
    font-weight: bold;
}
.mr-auto { 
    margin-right: auto;
}
footer {
    position: fixed;
    Width: 100%;
    bottom: 0;
}
.list-section {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.title { 
    color:  #0D6EFD ;
    text-decoration: none;

}
.title:hover{
    color:  #0D6EFD ;
}


#sidebar-wrapper div form button {
    background-color:  #0D6EFD;
    color: white
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow: auto;
}

.modal-body > .img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* #region loginsignup.hbs */

#form-container{
    display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   margin-left: -50px;
}


#form-loginsignup > *{
    margin-top:1.5rem;
}

.form-label{
    margin-bottom: 5px;

}
.submit-btn{
    margin-top: 0.5rem;
}
input::placeholder{
    font-size: 14px;
}
.form-control{
    border: 1.25px solid darkgray;
}
#line-break-form{
    width: 100%;
    color: black;
    height: 2px;
    z-index: 999;
}

/* #endregion */

label{
    text-align:start;
}
legend{
    text-align: center;
    margin-bottom:1.25em;
}

table {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#language{
    margin: 1em 0em 1em 0em;
    display: flex;
    flex-direction: row;
}

#languageText{
    margin-right: 1em;
}

#add-project-btn{
    /* border: 1px solid #0D6EFD; */
    border-radius: 0.85rem;
    /* color: black; */
    /* background: none; */
    padding: 3px 5px;
    margin: 0 auto;
}

.grid-container-projects{
    display: grid;
    grid-template-columns: 1.5fr 10fr;
}

.grid-item-1{
    z-index: 999;
    max-width: 300px;
    padding: 8.5rem 0 0 2rem;
}

/* .grid-item-2{
    margin-left: -5rem;
} */

#container-projs{
    margin: 0 auto;
    width: 50rem;
    /* margin-left: -1rem; */
}
#container-projs > div{
    margin-bottom: 3rem;
}
#container-projs > div:hover{
    /* border: 1px solid #0D6EFD; */
    cursor: pointer;
    box-shadow: 0 0 5px 2px #0D6EFD;
    transition: all 200ms ease-in;
    transform: translateY(-10px);
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT license
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
 a
 {
   text-decoration: none;
   list-style: none;
 }
 
 #menuToggle
 {
   display: block;
   position: absolute;
   top: 50px;
   right: 50px;
   height: 100%;
   
   z-index: 999;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   color: rgba(0, 0, 0, 0.55);
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   opacity: 1;
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 0;
   padding: 50px;
   padding-top: 125px;
   right: -100px;
   height:100%;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's fade it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
   opacity: 1;
 }
 
 @media screen and (max-width: 768px) {
   #menu {
     transform: none;
     opacity: 0;
 
     transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   }
 }